<launch>
    <!-- Habitat Bridge -->
    <node name="habitat_bridge" pkg="your_package" type="your_node.py" output="screen">
        <param name="rgb_topic" value="/habitat/rgb"/>
        <param name="depth_topic" value="/habitat/depth"/>
    </node>
    
    <!-- Exploration Node -->
    <node pkg="exploration" type="exploration_node" name="exploration" output="screen" />
    
    <!-- Kimera Semantics Interface -->
    <node pkg="kimera_semantics_ros" type="kimera_interface" name="kimera_interface" output="screen" />
    
    <!-- DeepLabV3 -->
    <node pkg="deeplab_ros" type="deeplab_node" name="deeplab" output="screen" />
    
    <!-- Control Node -->
    <node pkg="system_control" type="control_node.py" name="control_node" output="screen" />
    
    <!-- Finetuning Node (if separate) -->
    <node pkg="model_finetuning" type="finetune_node" name="finetune" output="screen" />
</launch>